.hero{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    box-sizing: border-box;
    
}

.div-one , .div-two , .div-three , .div-four  {
   background-color: black;
   border-bottom: 5px solid rgb(57, 57, 57);
   border-top: 5px solid rgb(57, 57, 57);
   display: flex;
   flex-direction: row;
   text-align: center;
   
   justify-content: space-around;
   font-size: 20px;
   
}

.hero h1 {
    text-indent: -45px;
    margin-top: 60px;
    font-size: 39px;
    
   
}

.hero p {
    width: 70%;
    overflow: auto;
    margin: 35px;
    text-align: justify;
}

@media screen and (max-width:600px) {
    .div-one, .div-two , .div-three , .div-four {
        flex-direction: column;
    }
}


