.third {
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
    border-top: 5px solid  rgb(57, 57, 57);
    border-bottom: 5px solid  rgb(57, 57, 57);
}


.ques1 {
    width: 50%;
    
    margin: 10px auto;
    
   
    justify-self: center;
    justify-content: center;
}

.quess {
   margin: 10px; 
   background-color:  	#383838;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   position: relative;
  
}
.quess p {
    margin-left: 10px;
}

.lines {
    margin-right: 20px;
    margin-top: 40px;
   
}
.line1  {
    background-color: #fff;
    width: 2.2rem;
    height: 2px;
    z-index: 1;
    border-radius: 2px;
}

.line2 {
    background-color: #fff;
    width: 2.2rem;
    height: 2px;
    transform: translateY(-4px) rotate(90deg);
    border-radius: 2px;
}

.lines:hover .line1  {
    transform: translateY(1px) rotate(45deg);
    transition: 0.2s ease-out;
}

.lines:hover .line2 {
    transform: translateY(-1px) rotate(135deg);
    transition: 0.2s ease-out;
}





.answer1 {
    margin: 10px;
    background-color:  	#585858;
    height: 200px;
    color: #fff;
   position: absolute;
    display: none;
    transition: 0.3s ease;
    
}

.lines:hover .answer1{
   
    display: block;
    z-index: 1;
}
label {
    color: #fff;
}
.get-started {
    margin-bottom: 20px;
}

@media  screen and (max-width:600px) {
    .ques1 {
        width: 100%;
        height: auto;
    }
    .get-started {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .get-started > input {
        margin-bottom: 10px;
    }
    
}